<?xml version="1.0" encoding="UTF-8"?>
<BIF VERSION="0.3"  xmlns="http://www.cs.ubc.ca/labs/lci/fopi/ve/XMLBIFv0_3"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.cs.ubc.ca/labs/lci/fopi/ve/XMLBIFv0_3 http://www.cs.ubc.ca/labs/lci/fopi/ve/XMLBIFv0_3/XMLBIFv0_3.xsd">
<NETWORK>
<NAME>Nuclear Power Station</NAME>
<PROPERTY>short = </PROPERTY>
<PROPERTY>detailed = </PROPERTY>

<VARIABLE TYPE="nature">
	<NAME>WaterLeak</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7679.9140625, 5131.2919921875)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>WaterLeakWarning</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7450.62939453125, 5172.0419921875)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>IcyWeather</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7803.9140625, 5054.5498046875)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>PumpFailure</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7613.75146484375, 5218.6240234375)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>PumpFailureWarning</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7531.37060546875, 5281.37353515625)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>Meltdown</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7657.15478515625, 5608.4501953125)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>Battery</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (8022.0, 5118.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>Radio</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7962.0, 5195.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>Ignition</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (8080.0, 5192.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>Starts</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (8172.0, 5253.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>Gas</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (8235.0, 5184.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>Moves</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (8180.0, 5327.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>Survives</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7872.0, 5735.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>Bicycle</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<OBS>F</OBS>
	<PROPERTY>position = (7895.0, 5284.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>IsAsleep</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7315.0, 5370.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>KnowsWhatToDo</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7295.0, 5432.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>TriesToDoSomething</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<PROPERTY>position = (7443.0, 5429.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>DoesSomething</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<OBS>F</OBS>
	<PROPERTY>position = (7403.0, 5522.0)</PROPERTY>
</VARIABLE>

<VARIABLE TYPE="nature">
	<NAME>OneOrMoreWarnings</NAME>
	<OUTCOME>T</OUTCOME>
	<OUTCOME>F</OUTCOME>
	<OBS>T</OBS>
	<PROPERTY>position = (7449.0, 5366.0)</PROPERTY>
</VARIABLE>

<DEFINITION>
	<FOR>WaterLeak</FOR>
	<GIVEN>IcyWeather</GIVEN>
	<TABLE>0.2 0.8 0.1 0.9</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>WaterLeakWarning</FOR>
	<GIVEN>WaterLeak</GIVEN>
	<TABLE>0.9 0.1 0.05 0.95</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>IcyWeather</FOR>
	<TABLE>0.05 0.95</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>PumpFailure</FOR>
	<TABLE>0.1 0.9</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>PumpFailureWarning</FOR>
	<GIVEN>PumpFailure</GIVEN>
	<TABLE>0.9 0.1 0.05 0.95</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>Meltdown</FOR>
	<GIVEN>WaterLeak</GIVEN>
	<GIVEN>PumpFailure</GIVEN>
	<GIVEN>DoesSomething</GIVEN>
	<TABLE>0.1 0.9 0.2 0.8 0.05 0.95 0.1 0.9 0.07 0.93 0.15 0.85 5.0E-4 0.9995 0.001 0.999</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>Battery</FOR>
	<GIVEN>IcyWeather</GIVEN>
	<TABLE>0.8 0.2 0.95 0.05</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>Radio</FOR>
	<GIVEN>Battery</GIVEN>
	<TABLE>0.95 0.05 0.0 1.0</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>Ignition</FOR>
	<GIVEN>Battery</GIVEN>
	<TABLE>0.95 0.05 0.0 1.0</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>Starts</FOR>
	<GIVEN>Ignition</GIVEN>
	<GIVEN>Gas</GIVEN>
	<TABLE>0.95 0.05 0.0 1.0 0.0 1.0 0.0 1.0</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>Gas</FOR>
	<TABLE>0.95 0.05</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>Moves</FOR>
	<GIVEN>Starts</GIVEN>
	<TABLE>0.95 0.05 0.0 1.0</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>Survives</FOR>
	<GIVEN>Meltdown</GIVEN>
	<GIVEN>Moves</GIVEN>
	<GIVEN>Bicycle</GIVEN>
	<TABLE>0.8 0.2 0.9 0.1 0.6 0.4 0.0 1.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>Bicycle</FOR>
	<TABLE>0.9 0.1</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>IsAsleep</FOR>
	<TABLE>0.5 0.5</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>KnowsWhatToDo</FOR>
	<TABLE>0.5 0.5</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>TriesToDoSomething</FOR>
	<GIVEN>IsAsleep</GIVEN>
	<GIVEN>OneOrMoreWarnings</GIVEN>
	<TABLE>0.0 1.0 0.0 1.0 1.0 0.0 0.0 1.0</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>DoesSomething</FOR>
	<GIVEN>KnowsWhatToDo</GIVEN>
	<GIVEN>TriesToDoSomething</GIVEN>
	<TABLE>0.9 0.1 0.0 1.0 0.3 0.7 0.0 1.0</TABLE>
</DEFINITION>

<DEFINITION>
	<FOR>OneOrMoreWarnings</FOR>
	<GIVEN>WaterLeakWarning</GIVEN>
	<GIVEN>PumpFailureWarning</GIVEN>
	<TABLE>1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0</TABLE>
</DEFINITION>
</NETWORK>
</BIF>
